<body class="anime-body">
    <div class="anime-container">
        <div class="anime-pics">
            <img class="anime-pic z-depth-5" src="<%= anime[0].image_url %>" alt="">
        </div>
        <div class="anime-details-container">
            <div class="animes-head">
                <h3 class="anime-title1 black-text lighten-5"><%= anime[0].title %></h3>
            </div>
            <div class="anime-synopsis">
                <p class="black-text lighten-5"><%= anime[0].synopsis %></p>
            </div>
            <div class="anime-details">
                <div class="anime-episodes">
                    <p class="black-text lighten-5 anime-p">Episodes:<%= anime[0].episodes %></p>
                </div>
                <div class="anime-type">
                    <p class="black-text lighten-5 anime-p">Type:<%= anime[0].type %></p>
                </div>
                <div class="anime-score">
                    <p class="black-text lighten-5 anime-p">Score:<%= anime[0].score %></p>
                </div>
            </div>
            <div class="anime1-form-container">
                <div class="anime-form-container">
                    <form method="POST" action="/anime">
                        <input hidden type="text" name="name" value="<%= anime[0].title %>">
                        <button class="btn yellow black-text waves-effect waves-light" type="submit">Bookmark</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<body>
