
<img src="<%= anime[0].image_url %>" alt="">
<h2><%= anime[0].type %></h2>
<span><h2><%= anime[0].title %></h2></span>
<p><%= anime[0].synopsis %></p>
<form method="POST" action="/anime">
    <input hidden type="text" name="name" value="<%= anime[0].title %>">
    <button class="btn" type="submit">Bookmark</button>
</form>

